body {
    background-color: whitesmoke;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    padding: 1em;
    align-items: center;
    
}

#imagem-logo {
    width: 80px;
}

#nav-header {
    padding-right: 3em;
}

#ul-header {
    display: flex;
    gap: 1em;
    
    
    
}

ul li {
    font-size: 20px;
    
    
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background-color: blanchedalmond;
}

/* CSS dos ingredientes */

#titulo-ingredientes {
    text-align: center;
    font-size: 3em;
    padding: 2rem;
    
}


section p {
    margin-left: 2em;
}

.div-ingredientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 2.5em;
    gap: 2em;
    
}

.imagem-igredientes {
    width: 17em;
    height: 14em;
}

.div-filho-ingredientes {
    background-color: grey;
    border: solid 3px grey;
    border-bottom: none;
    padding-bottom: 1em;
    
}

.div-filho-ingredientes p {
    font-style: italic;
}

.div-filho-ingredientes:hover {
    cursor: pointer;
}

/* CSS do modo de preparo */

#titulo-modo-de-preparo {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 24em;
    font-size: 22px;
}