body {
    background-color: whitesmoke;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    padding: .3rem;
    align-items: center;
    
}

#imagem-logo {
    width: 60px;
}

#ul-header {
    display: flex;
    gap: .6rem;
    padding-right: .1rem;
    
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background-color: blanchedalmond;
}

/* CSS dos ingredientes */

#titulo-ingredientes {
    text-align: center;
    font-size: 3em;
    padding: 2rem;
    
}


section p {
    margin-left: 2em;
}

.div-ingredientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 2.5em;
    gap: 2em;
    
}

.imagem-igredientes {
    width: 17em;
    height: 14em;
}

.div-filho-ingredientes {
    display: block;
    background-color: grey;
    border: solid 3px grey;
    border-bottom: none;
    
}

.div-filho-ingredientes:hover {
    cursor: pointer;
}